@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
//absolute center
@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px:	Phone
600 - 900px:	Tablet Portrait
600 - 1200px:	Tablet Landscape
[1200 - 1800px]: Desktop - where normal styles apply
1800px+: Big Desktop Screen

$breakpoint argument choices:
- phone
- tab-port (tablet portrait)
- tab-land (tablet landscape)
- big-desktop
*/

//ems are the best option for media query.. 1em = 16px, unlike rem which is whatever the base font size is.
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		} // 600px
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		} // 900px
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		} // 1200px
	}
	@if $breakpoint == big-desktop {
		//for all screens larger than 1800
		@media (min-width: 1125.5em) {
			@content;
		} // 1800px
	}
}
